body {
  margin: 0;
}

.header {
  padding: 10px;
  text-align: center;
  background-color: #581908;
  color: white;
}

.header h1 {
  font-size: 100px;
  font-family: Allura;
}

.header h3 {
  font-size: 30px;
  font-family: roboto;
}
.navbar {
  overflow: hidden;
  background-color: #581908;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #581908;
  color: #21D19F;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 100%;
  background-color: white;
  padding: 20px;
  text-align: center;
}

.footer {
  padding: 20px;
  text-align: center;
  background: white;
}





